openapi: 3.1.0
info:
  title: Dot.Agents API
  description: |
    Enterprise AI Workforce Platform API — hire, deploy, manage, monitor, and govern
    specialized AI Agents as digital workforce members.

    ## Authentication
    All endpoints require a Bearer token obtained via Laravel Sanctum:
    ```
    Authorization: Bearer {your-api-token}
    ```

    ## Multi-Tenancy
    All resources are scoped to the authenticated user's active organization.
    Set the active organization via `X-Organization-ID` header or session.

    ## Rate Limits
    - Agents catalog: 120 requests/minute
    - Deployments: 60 requests/minute
    - Default: 60 requests/minute

  version: 1.0.0
  contact:
    name: Dot.Agents Platform Team
    url: https://dot.agents
  license:
    name: MIT

servers:
  - url: https://api.dot.agents/v1
    description: Production
  - url: https://staging.dot.agents/api/v1
    description: Staging
  - url: http://localhost/api/v1
    description: Local Development

security:
  - bearerAuth: []

tags:
  - name: Authentication
    description: User authentication and token management
  - name: Agents
    description: Agent marketplace catalog — browse available agent types
  - name: Deployments
    description: Agent deployments — instances of agents hired by an organization
  - name: Governance
    description: Approval workflows, audit logs, decision logs
  - name: Billing
    description: Subscription plans and billing management

paths:
  /me:
    get:
      tags: [Authentication]
      summary: Get authenticated user
      description: Returns the currently authenticated user and their active organization context.
      operationId: getMe
      responses:
        '200':
          description: Authenticated user details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthenticated'

  /agents:
    get:
      tags: [Agents]
      summary: List available agents
      description: Returns the marketplace catalog of available agent types, filterable by category, department, and capabilities.
      operationId: listAgents
      parameters:
        - name: search
          in: query
          schema: { type: string }
          description: Search agents by name, description, or capability
        - name: category_id
          in: query
          schema: { type: integer }
        - name: department_id
          in: query
          schema: { type: integer }
        - name: sort
          in: query
          schema:
            type: string
            enum: [name, rating, popularity, newest]
            default: popularity
        - name: page
          in: query
          schema: { type: integer, default: 1 }
        - name: per_page
          in: query
          schema: { type: integer, default: 20, maximum: 100 }
      responses:
        '200':
          description: Paginated list of available agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Agent'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthenticated'

  /agents/{agent}:
    get:
      tags: [Agents]
      summary: Get agent details
      description: Returns full details for a specific agent type including capabilities, pricing, and reviews.
      operationId: getAgent
      parameters:
        - name: agent
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Agent details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDetail'
        '404':
          $ref: '#/components/responses/NotFound'

  /deployments:
    get:
      tags: [Deployments]
      summary: List organization deployments
      description: Returns all agent deployments for the authenticated organization.
      operationId: listDeployments
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, paused, decommissioned, pending]
        - name: page
          in: query
          schema: { type: integer, default: 1 }
      responses:
        '200':
          description: List of deployments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deployment'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
    post:
      tags: [Deployments]
      summary: Deploy an agent
      description: |
        Creates a new agent deployment for the organization. This "hires" an agent
        from the marketplace with your custom configuration.
      operationId: createDeployment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeployAgentRequest'
      responses:
        '201':
          description: Deployment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '422':
          $ref: '#/components/responses/ValidationError'
        '403':
          $ref: '#/components/responses/Forbidden'

  /deployments/{deployment}:
    get:
      tags: [Deployments]
      summary: Get deployment
      operationId: getDeployment
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
      responses:
        '200':
          description: Deployment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeploymentDetail'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [Deployments]
      summary: Update deployment configuration
      description: Update deployment settings including custom instructions, confidence threshold, and deployment mode.
      operationId: updateDeployment
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDeploymentRequest'
      responses:
        '200':
          description: Deployment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '422':
          $ref: '#/components/responses/ValidationError'

  /deployments/{deployment}/pause:
    post:
      tags: [Deployments]
      summary: Pause a deployment
      description: Temporarily suspends the agent deployment. All pending tasks are held.
      operationId: pauseDeployment
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
      responses:
        '200':
          description: Deployment paused
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
        '403':
          $ref: '#/components/responses/Forbidden'

  /deployments/{deployment}#delete:
    delete:
      tags: [Deployments]
      summary: Decommission a deployment
      description: |
        Permanently decommissions the agent deployment. This action cannot be undone.
        All associated tasks are terminated and the agent is removed from the workforce.
      operationId: decommissionDeployment
      parameters:
        - $ref: '#/components/parameters/DeploymentId'
        - name: reason
          in: query
          schema: { type: string }
          description: Reason for decommissioning (logged to audit trail)
      responses:
        '200':
          description: Deployment decommissioned
        '403':
          $ref: '#/components/responses/Forbidden'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    DeploymentId:
      name: deployment
      in: path
      required: true
      schema: { type: integer }
      description: Deployment ID

  responses:
    Unauthenticated:
      description: Authentication required
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string, example: Unauthenticated. }
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string, example: This action is unauthorized. }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string, example: No query results for model. }
    ValidationError:
      description: Validation failed
      content:
        application/json:
          schema:
            type: object
            properties:
              message: { type: string }
              errors:
                type: object
                additionalProperties:
                  type: array
                  items: { type: string }

  schemas:
    User:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        email: { type: string, format: email }
        email_verified_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }

    Agent:
      type: object
      properties:
        id: { type: integer }
        name: { type: string, example: Revenue Analytics Agent }
        slug: { type: string, example: revenue-analytics-agent }
        tagline: { type: string }
        category: { type: string }
        department: { type: string }
        status: { type: string, enum: [active, beta, deprecated] }
        average_rating: { type: number, format: float }
        deployment_count: { type: integer }
        pricing_model: { type: string, enum: [per_task, subscription, usage_based] }
        base_price_usd: { type: number, format: float }

    AgentDetail:
      allOf:
        - $ref: '#/components/schemas/Agent'
        - type: object
          properties:
            description: { type: string }
            capabilities: { type: array, items: { type: string } }
            tools: { type: array, items: { type: string } }
            supported_deployment_modes:
              type: array
              items:
                type: string
                enum: [advisory, semi-autonomous, autonomous, executive_approval]
            reviews:
              type: array
              items:
                $ref: '#/components/schemas/AgentReview'

    AgentReview:
      type: object
      properties:
        rating: { type: integer, minimum: 1, maximum: 5 }
        comment: { type: string }
        reviewer_role: { type: string }
        created_at: { type: string, format: date-time }

    Deployment:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        alias: { type: string, nullable: true }
        status:
          type: string
          enum: [active, paused, decommissioned, pending, error]
        deployment_mode:
          type: string
          enum: [advisory, semi-autonomous, autonomous, executive_approval]
        confidence_threshold: { type: number, format: float, minimum: 0, maximum: 100 }
        agent:
          $ref: '#/components/schemas/Agent'
        organization_id: { type: integer }
        deployed_by: { type: integer }
        deployed_at: { type: string, format: date-time }
        created_at: { type: string, format: date-time }

    DeploymentDetail:
      allOf:
        - $ref: '#/components/schemas/Deployment'
        - type: object
          properties:
            task_count: { type: integer }
            pending_approvals: { type: integer }
            scorecard:
              type: object
              properties:
                overall_score: { type: number }
                accuracy_score: { type: number }
                reliability_score: { type: number }
                compliance_score: { type: number }

    DeployAgentRequest:
      type: object
      required: [agent_id, name, deployment_mode]
      properties:
        agent_id: { type: integer }
        name: { type: string, maxLength: 100 }
        deployment_mode:
          type: string
          enum: [advisory, semi-autonomous, autonomous, executive_approval]
          default: advisory
        confidence_threshold:
          type: number
          minimum: 0
          maximum: 100
          default: 75.0
        custom_instructions: { type: string, maxLength: 5000, nullable: true }
        department_id: { type: integer, nullable: true }
        team_id: { type: integer, nullable: true }

    UpdateDeploymentRequest:
      type: object
      properties:
        name: { type: string, maxLength: 100 }
        deployment_mode:
          type: string
          enum: [advisory, semi-autonomous, autonomous, executive_approval]
        confidence_threshold: { type: number, minimum: 0, maximum: 100 }
        custom_instructions: { type: string, maxLength: 5000, nullable: true }
        requires_human_approval: { type: boolean }
        enable_memory: { type: boolean }

    PaginationMeta:
      type: object
      properties:
        current_page: { type: integer }
        last_page: { type: integer }
        per_page: { type: integer }
        total: { type: integer }
        from: { type: integer }
        to: { type: integer }
